################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MPU9250BasicAHRS_I2C/MPU9250BasicAHRS_I2C.sln
